body.news{

	@media screen and (min-width: $screen-sm) {
		.app.content{
			margin-top: per(785, 1920);
			position: relative;

			&+section{
				margin-top: auto;
				@media screen and (max-width: #{$screen-xs - 1}) {
					display: none;
				}
			}
		}
		.community{
			position: relative;
			left: auto;
			margin-left: auto;
		}
	}

}
body{
	.community{
		@media screen and (min-width: $screen-sm) {
			position: absolute;
			width: 600px;
			height: 55px;
			left: 50%;
			margin-left: -135px;
			bottom: 60px;
		}
	}
	.app.content{
		@media screen and (min-width: $screen-sm) {
			bottom: 0;
			position: absolute;
			top: auto;
			width: 100%;
			z-index: 10;

			&+section{
				margin-top: per(785, 1920);
			}
		}
		@media screen and (max-width: #{$screen-xs - 1}) {
			@include Item(640, 0, 0, 'auto', 'auto', 0, 640, 'fit', 'fixed');
			z-index: 15;
			img{
				position: absolute!important;
			}
			h3, a{
				height: 0;
				padding-top: 0;
				margin-top: 0;
				margin-bottom: 0;
				opacity: 0;
				overflow: hidden;
				position: relative;
			}
			a:nth-child(3){
				@include Item(57, 57, 12, 5, 'auto', 'auto', 640, 'fit', 'fixed');
				opacity: 1;
			}
			a:nth-child(4){
				@include Item(57, 57, 12, 68, 'auto', 'auto', 640, 'fit', 'fixed');
				opacity: 1;
			}
			a.close{
				opacity: 0;
			}
			&.fadein{
				@include SubItem();
				position: fixed;
				margin: 0;
				img{
					position: absolute;
				}

				.container{
					@include Item(454, 327, 327/-2, 'auto', 'auto', 93, 640, 'fit', 'absolute');
					top: 50%;
					background: rgba(0,0,0,0.6);
					a:nth-child(1){
						@include Item(204, 72, 87, 'auto', 'auto', 127, 454, 'fit', 'absolute');
					}
					a:nth-child(2){
						@include Item(204, 72, 198, 'auto', 'auto', 127, 454, 'fit', 'absolute');
					}
					a.close{
						@include Item(33, 29, 16, 'auto', 'auto', 402, 454, 'fit', 'absolute');
					}
					a{
						opacity: 1;
					}
				}

				h3{
					@include Item(222, 45, 26, 'auto', 'auto', 121, 454, 'fit', 'absolute');
					opacity: 1;
				}

				.dismiss{
					@include SubItem();
				}
			}
		}
	}
	.inner{
		width: 960px;
		margin: 0 auto;
		position: relative;
	}
	.breadcrumbs{
		color: #fff;
		text-shadow: 0 0 2px #000;
		a{
			color: #fff;
			text-shadow: 0 0 2px #000;
			cursor: default;
			pointer-events: none;

			&+a:before{
				content: ' » ';
			}
		}
		height: 105px;		
		vertical-align: bottom;

		nav{
			display: inline-block;
		}
	}

	.board-common{
		@media screen and (min-width: $screen-sm) {
			width: 1050px;
			height: 860px;
			padding-top: 1px;
			margin: -1px auto 50px;
			background: url(../img/page/board.png) center no-repeat;
			h2{
				width: 860px;	
				margin: 5em auto 0.5em;
				height: 1.5em;
			}
			h3, h4, h5{
				margin: 0.8em auto 0.5em;
			}
			article{
				width: 860px;
				height: 650px;
				overflow: hidden;
				margin: 0 auto 0.5em;
				-webkit-overflow-scrolling: touch;
			}
		}

		@media screen and (max-width: #{$screen-xs - 1}) {

			padding-top: 1px;
			margin-top: -1px;
			min-height: 360px;
			min-height: calc(100vh - 49.375vw - 20vw - 12.5vw);
			.background{
				@include Item(640, 0, 0, 'auto', 'auto', 0, 640, 'fit', 'absolute');
				background-repeat: no-repeat;
				background-position: 0 top;
				background-size: 100% 100%;
				height: 100%;
			}
			.standar{
				@include Item(352, 113, -50, 'auto', 'auto', 145, 640, 'fit', 'absolute');
				background: no-repeat center/cover;	
				z-index: 10
			}
			h2{
				@include Item(358, 29, 50, 'auto', 25, 55, 640, 'fit', 'relative');
				img{
					@include SubImgW();
				}
			}
			article{
				@include Item(530, 0, 'auto', 'auto', 'auto', 55, 640, 'fit', 'relative');
				height: auto;
				padding-bottom: 2em;

				img{
					max-width: 100%;
					height: auto;
				}
			}
		}
	}

	.nicescroll-cursors{
	    background-color: #361f04 !important;
    	border: 1px solid #150f07!important;
	}
}


@media screen and (min-width: $screen-sm) {
	body{
		padding-top: 1px;
		margin-top: -1px;
		min-width: $screen-md;
		width: 100%;
		>.background, >header, >.content{
			min-width: $screen-md;
		}
		.ios-body{
			padding-top: 1px;
			margin-top: -1px;
		}
	}
	html.ios{
		body{

			.board-common{
				@media screen and (min-width: $screen-sm) {
					width: 100%;
					article{
						overflow: auto;
						-webkit-overflow-scrolling: touch;
					}
				}
			}
		}
	}
}
@media screen and (max-width: #{$screen-xs - 1}) {
	html.ios{
		body{
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			overflow: hidden;

		}
	}
	html, body, .background, header, header nav,.app.content{
		min-width: 320px;
		min-width: 100%;
		min-width: 100vw;
	}
	.ios-body{
		height: 100%;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
	}
	[role="main"]{
		margin-bottom: per(128, 640);
	}
}