footer {
	@media screen and (max-width: #{$screen-xs - 1}) {
		display: none;
	}
	height: 120px;
	.inner{
		width: 960px;
		margin: 0 auto;
		position: relative;

		figure{
			display: inline-block;
			width: 80px;
			height: 80px;
			margin-right: 20px;
		}

		.stamp{
			height: 100px;
		}

		.text-content{
			position: absolute;
			bottom: 0;
			right: 0;
			color: #fff;
			aside{
				float: right;
			}
			.term, .copy{
				display: block;
			}
			a{
				color: inherit;
			}
		}
	}
}