header {
	height: 158px;
	position: fixed!important;
	z-index: 10!important;
	overflow: hidden;
	width: 100%;
	top: 0;
	transition: 0s height linear 0s;
	transform-origin: center top 1px;

	&.shrink{
		height: 80px;
		transition: 0s height linear 0s;
		.background{
			transform: scaleY(0.5) translateY(-50%);
			backface-visibility: hidden;
		}

		nav{
			transform: translateY(-35%);
			backface-visibility: hidden;
		}
		.logo{
			transform: scale(0.5) translateY(-25%);
			backface-visibility: hidden;
		}

		&:before{
			transform: translateY(-25%);
			backface-visibility: hidden;
			transition: 0.25s opacity linear 0s,  0s height linear 0.62s,  0s transform linear 0.6s;
		}

		.group ul{
			transform: translateY(-15%);
		}
		&.nav-show-sub {
			height: 255px;
			.group ul{
				transform: translateY(-10%);
			}
		}
	}
	nav, .logo{
		transition-duration: 0.25s;
	}
	.background{
		transition-duration: 0.26s;
	}
	nav{
		max-width: 100%;
		height: 105px;
		width: 100%;
		margin-top: 10px;
		z-index: 10;
		>a,>aside{
			position: absolute;
			display: block;
			margin-top: 40px;
			z-index: 1;

			&:nth-child(1),&:nth-child(2),&:nth-child(3){
				left: 50%;
			}
			&:nth-child(4),&:nth-child(5),&:nth-child(6){
				right: 50%;
			}
			&:nth-child(1){
				margin-left: -500px;
			}
			&:nth-child(2){
				margin-left: -375px;
			}
			&:nth-child(3){
				margin-left: -245px;
			}
			&:nth-child(4){
				margin-right: -245px;
			}
			&:nth-child(5){
				margin-right: -375px;
			}
			&:nth-child(6){
				margin-right: -500px;
			}
			@media screen and (min-width: #{$screen-md-num + 80}px) {
				&:nth-child(1){
					margin-left: -525px;
				}
				&:nth-child(2){
					margin-left: -395px;
				}
				&:nth-child(3){
					margin-left: -265px;
				}
				&:nth-child(4){
					margin-right: -265px;
				}
				&:nth-child(5){
					margin-right: -395px;
				}
				&:nth-child(6){
					margin-right: -525px;
				}
			}
		}
		>a,>aside >a{
			z-index: 10;
			&:after{
				content: '';
				opacity: 0;
				background: url(../img/header/nav-active.png) no-repeat;
				display: block;
				@include Item(138, 24, 0, 'auto', 'auto', -23, 93, 'fit', 'absolute');
				transition: opacity 0.25s linear 0s; 
				position: relative;
				z-index: 1;
			}
			&:active, &:hover, &.active{
				&:after{
					opacity: 1;

				}
			}
		}
		>aside{
			&:active, &:hover, &.active{
				a:after{
					opacity: 1;

				}
			}
		}
		// >aside{
		// 	&.group-show-sub{
		// 		a:after{
		// 			opacity: 1;

		// 		}
		// 	}
		// }

		.group{
			ul{
				li{
					list-style: none;
					transition: 0.45s margin linear 0s;
					a:hover{
						img{
							filter: drop-shadow(0 0 3px rgba(255,255,255,0.5));
						}
					}
				}
				padding: 0;
				width: 120px;
				margin: #{(92-120)/2}px;
				transform-origin: center top 1px;
				transform: translateY(-5%);
				opacity: 0;
				height: 0;
				transition: 0.6s opacity linear 0s, 0.6s transform linear 0s,  0s height linear 0.62s,  0s padding linear 0.62s;
			}
		}


		&:before{
			content: '';
			position: absolute;
			height: 0;
			opacity: 0;
			width: 100%;
			background: url(../img/header/sub-bg.png) no-repeat center bottom/cover ;
			transition: 0.25s opacity linear 0s,  0s height linear 0.62s;
		}
	}

	&.nav-show-sub{
		height: 300px;
		transition: 0s height linear 0s;
		&:before{
			top: 110px;
			opacity: 1;
			height: 195px;
			transition: 0.25s opacity linear 0s,  0s height linear 0s;
		}
		.group{
			ul{
				transform-origin: center top 1px;
				padding: 40px 0 0;
				transform: none;
				opacity: 1;
				height: 195px;
				transition: 0.6s opacity linear 0s, 0.6s transform linear 0s,  0s height linear 0s,  0s padding linear 0s;
				li{
					&+li{
						margin-top: 0.5em;
					}
				}
			}
		}
	}
	&:before{
		content: '';
		position: absolute;
		height: 0;
		opacity: 0;
		width: 100%;
		background: url(../img/header/sub-bg.png) no-repeat center bottom/cover ;
		transition: 0.25s opacity linear 0s,  0s height linear 2s;
	}

	.logo{
		@include Item(453, 139, 20, 'auto', 'auto', 0, 0, 'none', 'absolute');
		left: 50%;
		margin-left: -226.5px;
		z-index: 3;
		backface-visibility: hidden;
		transform-origin: center top 1px;

	}
}
